.brief-basico-contenedor {
    height: 936px;
    width: 100%;
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 1.5;
}

.brief-texto{
    text-align: center;
    margin-bottom: 14px;
}

.brief-texto-titulo {
    font-weight: normal;
    font-family: Avenir-Bold;
    font-size: 24px;
    margin-bottom: 18px;
}

.brief-texto-parrafo {
    width: 225px;
    font-size: 16px;
}

.formulario-brief {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brief-tipo {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 200px;
}

.brief-entradas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 290px;
}

.brief-entradas input, .brief-entradas select{
    width: 290px;
    height: 35px;
    margin: 5px 0;
    padding: 0 10px;
    border-radius: 5px;
    border:1px solid white;
    font-size: 16px;
}

.brief-tipo label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    height: 20px;
    width: 20px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-right: 0.6rem;
    outline: none;
    z-index: 1000;
    display:inline-block;
  }
  
  label{
    cursor:pointer;
    margin: 7px 0;
  }
  .option-input:hover {
    background: #e2826a;
  }
  .option-input:checked {
    background: #ff3300;
  }
  
  .option-input.radio {
    border-radius: 50%;
  }

/* ----Vista parecida a placeholder ------ */
select:required:invalid {
    color: gray;
}
option[value=""][disabled] {
    display: none;
}
option {
    color: black;
}
/* --------------------------------------- */

#btn-generar {
    background-color: var(--primary-color);
    border-radius: 5px;
    border-color: var(--primary-color);
    color: white;
    width: 140px;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-top: 22px;
    margin-bottom: 32px;
}

.brief-específico-enlace {
    width: 260px;
    text-align: center;
}

.brief-específico-enlace p {
    margin: 0;
}

.brief-específico-enlace a {
    text-decoration: none;
    color: var(--primary-color);
}

.brief-entradas option {
    font-size: 16px;
}

@media(min-width:756px){
    .brief-basico-contenedor {
        height: 602px;
    }

    .brief-tipo {
        flex-direction: row;
        width: 500px;
    }

    .brief-entradas {
        width: 726px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .brief-entradas input, .brief-entradas select {
        width: 356px;
    }

    .brief-entradas select:nth-child(n + 5) {
        width: 233px;
    }

    .brief-entradas input:nth-child(n + 7) {
        width: 726px;
    }

    label{
        cursor:pointer;
        margin: 7px;
    }
}

@media(min-width:1175px){
    .brief-entradas {
        width: 1145px;
    }

    .brief-entradas input{
        width: 452.5px;
    }

    .brief-entradas select:nth-child(n + 1) {
        width: 221px;
    }
    
    .brief-entradas input:nth-child(n + 6) {
        width: 452.5px;
    }

    .brief-entradas input:last-child {
        width: 1145px;
    }
    /*

    .brief-entradas input:nth-child(n + 7) {
        width: 726px;
    } */
}