@import url(variables.css);
@import url(header.css);
@import url(header-tablet.css);
@import url(header-escritorio.css);
@import url(slider.css);
@import url(servicios.css);
@import url(trabajos.css);
@import url(blog.css);
@import url(brief-basico.css);
@import url(unetenos.css);
@import url(contactanos.css);
@import url(pseudo-footer.css);
@import url(modal.css);

/* footer css */

body{
    position: relative;
}

input, select{
	transition: all .4s ease-in-out;
}

input:focus, input:hover {
    box-shadow: 0px 0px 4px #5b5b5b;
}

.brief-entradas input:focus, .brief-entradas select:focus, .brief-entradas input:hover, .brief-entradas select:hover{
    box-shadow: 0px 0px 8px #dfcdcd;
}

.piedepagina {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: absolute; */
    bottom: 0;
    background-color: white;
    height: 60px;
    color: #5b5b5b;
}

.division {
    position: absolute;
    bottom: 60px;
    margin-bottom: 0;
    width: 98%;
    margin-left: 1%;
}

.copyright {
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    margin: 10px 0;
}

.copyright span {
    color: var(--primary-color);
}

.btn-primary {
    transition: all .3s ease-in-out !important;
}

.btn-primary:hover {
    background-color: #f05f3b !important;
    border: 1px solid #f05f3b !important;
}