@font-face {
    font-family: myriad-pro;
    src: url(../font/MyriadProRegular.ttf);
}

* {
    box-sizing: border-box;
    font-family: myriad-pro;
}
header {
    background-color: #2b2b2b;
}

.contenedor {
    margin: 0 auto;
    padding: 0 15px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: white;
}


.cabecera-mid{
    height:115px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height:100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:60px;
    width: 100%;
    font-size: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: white transparent;
}

#toggle-menu:hover {
    cursor: pointer;
}

span.icon-menu, span.icon-menu::before {
    font-size: 36px;
    margin: 0;
}

.lista {
    display: none;
    list-style: none;
    width: 100%;
    margin:0;
    padding: 0;
}


.lista-item {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgb(168, 165, 165);
    background-color: #2b2b2b;
}

.lista-item a{
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    font-family: myriad-pro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.lista-item:last-child {
    background-color: #ff3300;
}

.ingreso, .cabecera-top {
    display: none;
}

.imagen-inicio {
    display: none;
}