
.servicios-contenedor {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:column;
    padding: 26px 42px;
    position: relative;
    transform: translateY(-2px); 
}

.servicios-contenedor h2 {
    position: absolute;
    color: white;
    font-size: 17px;
    top: -40px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Avenir-Bold;
}

.contenido-servicios {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio-item {
    height: 145px;
    width: 222px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.servicio-item-title {
    margin: 5px;
    font-size: 17px;
    font-weight: bold;
    font-family: Avenir-Bold;
}

.servicio-item-descripcion {
    text-align: center;
    margin: 5px;
    font-size: 14px;
    font-family: Avenir-Cn;
}

@media(min-width:756px) {
    .contenido-servicios {
        width: 500px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .servicios-contenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 26px 80px;
    }
    

}

@media(min-width:1175px) {
    .contenido-servicios{
        width: 1175px;
    }

    .servicios-contenedor {
        position: absolute;
        top: 591px;
        background-color: rgba(0, 0, 0, 0.568);
        width: 100%;
        transform: translateY(0px); 
    }

}