.unetenos-contenedor {
    height: 395px;
    width: 100%;
    
}

@media(min-width:756px){
    .unetenos-contenedor {
        height: 409px;
    }
}

@media(min-width:1175px){
    /* .unetenos-contenedor {
        height: 409px;
    } */
}